.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




body {
  margin: 0 ;
  padding: 0 ;
  background-color: #efeee7 ;
  /* background-color: teal; */
  font-family: "Georgia" ;
}

p {
  font-size: 18px ;
}

a {
  color: rgb(106, 183, 235) ;
  /* color: silver ; */
}
  
/* New Stuff */
#bannerImage {
  display: flex ;
  flex-direction: column ;
  justify-content: space-between ;
  /* align-items: flex-end ; */
  height: 375px ;
  background-image: url("./images/sunflower.jpeg") ;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100% ;
}

#banner1 {
  margin: 20px ;
  display: flex ;
  justify-content: flex-start ;
  align-items: flex-start ;
}

#banner2 {
  display: flex ;
  justify-content: flex-end ;
  align-items: flex-end ;
  margin-bottom: 20px ;
}



/* #bio p {
  display: inline-block ;
} */


h2 {
  margin: 0px ;
}


i {
 width: 50px ;
}

#bannerImage h2 {
  margin-right: 75px ;
  padding: 8px ;
  background-color: white ;
  color: rgb(106, 183, 235) ;
}

h4 {
  margin: 0px ;
  color:rgb(106, 183, 235) ;
}

#bannerImage h1 {
  margin: 0px ;
  background-color: white ;
  color: rgb(106, 183, 235) ;
  display: inline ;
  text-align: center ;
  padding: 10px ;
}


header {
  background-color: white ;
  display: flex ;
  justify-content: center ;
  align-items: center ;
  height: 90px ;
}

header ul {
  display: flex ;
  list-style-type: none ;
  margin: 0 ;
  padding: 0 ;
}

header ul li {
  margin: 20px ;
}

footer {
  display: flex ;
  justify-content: center ;
  background-color: white ;
  align-items: center ;
}

i {
  /* margin: 15px ; */
  color: rgb(106, 183, 235) ;
}

#githubIcon {
  border-radius: 50%;
}

.icon {
  margin: 15px ;
  display: inline ;
  height: 48px ;
  /* border-radius: 50% ; */
  /* padding: 5px ; */
}

a {
  height: 48px ;
}

#linkedinIcon {
  /* padding: 0px ; */
  padding-left: 8px ;
}

/* .icon:hover {
  box-shadow: inset 0px 0px 8px rgb(106, 183, 235), 0 0 15px rgb(106, 183, 235);
} */


#contact {
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  margin: 15px ;
}

#icons {
  margin-top: 15px ;
}

#codingLangs {
  margin: 20px ;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  /* box-shadow: inset 0px 0px 8px rgb(106, 183, 235), 0 0 15px rgb(106, 183, 235); */
}