
body {
  margin: 0 ;
  padding: 0 ;
  background-color: #efeee7 ;
  /* background-color: teal; */
  font-family: "Georgia" ;
}

p {
  font-size: 18px ;
}

a {
  color: rgb(106, 183, 235) ;
  /* color: silver ; */
}
  




h2 {
  margin: 0px ;
}


i {
  width: 50px ;
  color: rgb(106, 183, 235) ;
}

#githubIcon {
  border-radius: 50%;
}

.icon {
  margin: 15px ;
  display: inline ;
  height: 48px ;
}

a {
  height: 48px ;
}

#linkedinIcon {
  padding-left: 8px ;
}



#contact {
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  margin: 15px ;
}

#icons {
  margin-top: 15px ;
}

#codingLangs {
  margin: 20px ;
}

